.cards-flex-container {
	display: flex;
	justify-content: space-between;
	text-align: center;

	.SummaryCard {
		width: 25%;
		height: 8em;
		padding-top: 1em;
		background: #00285E;
		color: white;
		border-radius: 8px;
		margin-right: 2.5em;

		&:last-child {
			margin-right: 0;
		}
	}
}

.lists-flex-container {
	display: flex;
	justify-content: space-between;
	margin-top: 5em;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.22);
	padding: 1em;

	.RecentNotesList, .RecentTasksList {
		width: 50%;
		text-align: center;
		background: rgba(0,0,0,0.11);
		border-radius: 10px;
		padding: 0.5em;
	}

	.RecentTasksList {
		margin-right: 0.5em;
	}

	.RecentNotesList {
		.list-container {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
