.TaskItem, .Project {
	display: flex;
	background: #FFEDD4;
	border-radius: 10px;
	padding: 0 1em;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5em;

	.title {
		width: 50%;
		text-align: left;
	}
}

.TaskItem {
	cursor: pointer;

	&:hover {
		background: navajowhite;
	}
}

.TasksPage {
	position: relative;

	.progress-categories {
		display: flex;

		h2 {
			text-align: center;
		}

		& > div {
			background: rgba(0,0,0,0.11);
			height: fit-content;
			min-height: 80vh;
			border-radius: 10px;
			padding: 1em 1em;
			width: 25%;
			margin-right: 0.5em;
		}
	}
}

.page-content.blur {
	opacity: 0.2;
}

.AddNewTaskForm, .AddNewProjectForm, .AddNewNoteForm {
	background: #00285E;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 2em;
	border-radius: 10px;
	position: absolute;
	z-index: 333;
	width: 60%;
	left: 20%;

	input, select {
		height: 3em;
		margin-bottom: 1em;
	}

	textarea {
		margin-bottom: 1em;
	}

	button {
		height: 2.5em;
		width: 25%;
		align-self: center;
	}

	button.close-button {
		width: 4%;
		padding: 0.5em;
		height: 2em;
		float: right;
		margin-bottom: 1em;
	}
}

.TaskPage {
	.task-page-containers {
		display: flex;

		.main-information {
			width: 80%;
		}
	}

	.side-information {
		display: flex;
		flex-direction: column;
		margin-top: 4em;

		& > select, & > input {
			margin-bottom: 2em;
			border: 1px solid #00285E;
			width: 100%;
			font-size: 0.9em;
		}

		& > div {
			margin-bottom: 0.1em;
		}
	}
}

