.TeamChat {
	.columns-container {
		display: flex;

		.TeamMembersList {
			width: 30%;

			h4 {
				text-align: center;
			}

			.TeamMemberItem {
				padding: 1em;
				border-bottom: 1px solid #00285E;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.Chat {
			margin-left: 2em;
			width: calc(70% - 2em);

			.messages-container {
				padding: 1em;
				height: 60vh;
				border: 1px solid #00285E;
				border-radius: 10px;
				overflow-y:auto;
			}

			form {
				margin-top: 0.5em;

				input {
					font-size: 1em;
					border: 1px solid #00285E;
					width: 90%;
					margin-right: 0.5em;
				}

				button {
					font-size: 1em;
				}
			}

			.Message {
				width: 100%;
				display: flex;
				flex-direction: row;

				&.sent {
					display: flex;
					flex-direction: row-reverse;
				}

				.content {
					width: fit-content;
					padding: 0.25em;

					p {
						margin: 0.1em;
					}

					.text {
						background: #00285E;
						padding: 0.5em;
						border-radius: 10px;
						color: white;
					}

					.username {
						color: darkgrey;
						text-align: right;
					}
				}

				&.received {
					.content {
						.text {
							background: antiquewhite;
							color: black;
						}

						.username {
							color: darkgrey;
							text-align: left;
						}
					}
				}
			}
		}
	}
}
