.Login, .Signup, .ResetPassword, .NewPassword {
	background: #00285E;
	width: 100%;
	height: 100%;

	.form-container {
		color: #00285E;
		position: absolute;
		top: 30%;
		left: 30%;
		border-radius: 10px;
		padding: 4em;
		background: #FFEDD4;
		display: flex;
		flex-direction: column;

		h1, .error {
			align-self: center;
		}

		.form-contents {
			display: flex;
			flex-direction: column;

			input {
				height: 3em;
				margin-bottom: 0.5em;
			}

			button {
				width: 50%;
				align-self: center;
				font-size: 1.25em;
			}

			.help-text {
				color: rgba(0,0,0,0.4);
			}
		}
	}
}

.Signup {
	.form-container {
		top: 20%;
		left: 35%;
	}
}

.ResetPassword, .NewPassword {
	.form-container {
		top: 20%;
		left: 38%;

		.form-contents {
			button {
				width: 100%;
			}
		}
	}
}
