$primary: #00285E;
$secondary: white;

html, body, .App {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.page-container {
	margin: 4vh auto;
	width: 80%;
}

.full-width-page-container {
	width: 100%;
	height: 100vh;
	margin: -2.4em 0 0 0;
}

button {
	height: 2em;
	padding: 0.5em 1em;
	border-radius: 5px;
	font-size: 1em;
	border: none;
	cursor: pointer;

	color: white;
	background: $primary;

	&:hover {
		background: $secondary;
		color: $primary;
	}

	&:disabled {
		background: lightgrey;
		pointer-events: none;
	}

	&.is-bright {
		color: $primary;
		background: $secondary;

		&:hover {
			background: #FFEDD4;
		}
	}

	&.delete {
		background: darkred;
	}
}

select, input, textarea {
	border: none;
	border-radius: 5px;
	padding: 0 0.5em;
}

select, input {
	height: 2em;
}

textarea {
	resize: none;
	padding: 1em 0.5em;
}

.title-input {
	font-size: 2em;
	font-weight: 600;
	padding-left: 0.25em;
	width: 70%;
}

.display-textarea {
	font-size: 1em;
	border: 1px solid rgba(0,0,0,0.11);
}

.buttons-container > button {
	margin-top: 1em;
	margin-right: 0.5em;
	font-size: 1em;
}

.error, .success {
	text-align: center;
	margin-bottom: 0.5em;
}

.error {
	color: darkred;
}

.success {
	margin-bottom: 0.5em;
	color: darkgreen;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 3vh;
	max-width: 100%;
	padding: 1.5em;
	background: $primary;

	.right-container {
		margin-left: auto;
		order: 2;
	}

	a {
		text-decoration: none;
		color: white;
		margin-right: 3em;

		&:hover {
			padding: 0.5em 0;
			border-bottom: 1px solid rgba(255,255,255,0.8);
			border-top: 1px solid rgba(255,255,255,0.8);
		}
	}
}
