.NoteItem {
	background: #FFEDD4;
	margin: 0.25em;
	border-radius: 10px;
	width: 48%;
}

.list-container {
	margin: 0 auto 1em;
	width: 100%;
}

.Notes {
	.notes-list {
		display: flex;
		flex-wrap: wrap;

		.NoteItem {
			width: 22%;
			text-align: center;
			padding: 1em;
			cursor: pointer;
		}
	}

	.flex-container {
		display: flex;
		align-items: center;

		h1 {
			margin-right: 0.5em;
		}
	}
}

.NoteItem:hover {
	background: navajowhite;
	cursor: pointer;
}
